.form {
  background-color: #fff;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.input-container input {
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4F46E5;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}

.rank-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}

.latest-products {
    margin-top: 100px;
}

.section-heading a {
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #ff6600;
}

.product-item {
    height: 460px;
    border: 1px solid #d4d1d1;
    margin-bottom: 30px;    
}

.product-item .down-content {
    padding: 30px;
    position: relative;
}

.product-item img {
    width: 100%;
    overflow: hidden;
}

.product-item .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}

.product-item .down-content h6 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #121212;
}

.product-item .down-content h6 small{
    color: #999;
}

.product-item .down-content p {
    margin-bottom: 20px;
}

.product-item .down-content ul li {
    display: inline-block;
}

.product-item .down-content ul li i {
    color: #ff6600;
    font-size: 14px;
}

.product-item .down-content span {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 13px;
    color: #ff6600;
    font-weight: 500;
}

.product-item .down-content span a {
    color: #ff6600;
    display: inline-block;
    margin-bottom: 3px;
}

.modal-dialog {
    margin-top: 10%;
}



.products {
    margin-top: 100px;
}

.products .filters {
    text-align: center;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.products .filters li {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    display: inline-block;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
}

.products .filters ul li.active,
.products .filters ul li:hover {
    color: #ff6600;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-item {
    padding: .5rem 1.5rem;
}

.page-heading {
    position:relative;
}
.page-heading:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,.7);
}
.page-heading .container {
    position:relative;
    z-index: 2;
}
.products ul.pages {
    margin-top: 30px;
    text-align: center;
}

.products ul.pages li {
    display: inline-block;
    margin: 0px 2px;
}

.products ul.pages li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    font-size: 15px;
    font-weight: 700;
    color: #121212;
    transition: all .3s;
}

.products ul.pages li a:hover,
.products ul.pages li.active a {
    background-color: #ff6600;
    border-color: #ff6600;
    color: #fff;
}


