<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterJobseekerServlet</servlet-name>
        <servlet-class>controller.RegisterJobseekerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailRegisterServlet</servlet-name>
        <servlet-class>controller.VerifyEmailRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassJobseeker</servlet-name>
        <servlet-class>controller.ForgetPassJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailChangePass</servlet-name>
        <servlet-class>controller.VerifyEmailChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginJobseeker</servlet-name>
        <servlet-class>controller.LoginJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileJobseeker</servlet-name>
        <servlet-class>controller.UpdateProfileJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassEmployer</servlet-name>
        <servlet-class>controller.ChangePassEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>controller.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingJob</servlet-name>
        <servlet-class>controller.PagingJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderJobList</servlet-name>
        <servlet-class>controller.RenderJobList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetails</servlet-name>
        <servlet-class>controller.JobDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>controller.FileUploadServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>CVJobSeekerServlet</servlet-name>
        <servlet-class>controller.CVJobSeekerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployerDetailCVServlet</servlet-name>
        <servlet-class>controller.EmployerDetailCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCVServlet</servlet-name>
        <servlet-class>controller.CreateCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVApply</servlet-name>
        <servlet-class>controller.CVApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CvApplied</servlet-name>
        <servlet-class>controller.CvApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateJob</servlet-name>
        <servlet-class>controller.CreateJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employerhomeservlet</servlet-name>
        <servlet-class>controller.employerhomeservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> RequestListJob</servlet-name>
        <servlet-class>controller.RequestListJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> AdminJobDetail</servlet-name>
        <servlet-class>controller.AdminJobDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAcceptJob</servlet-name>
        <servlet-class>controller.AdminAcceptJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> AdminRejectJob</servlet-name>
        <servlet-class>controller.AdminRejectJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchJobApplied</servlet-name>
        <servlet-class>controller.SearchJobApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawJob</servlet-name>
        <servlet-class>controller.WithdrawJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSorttedReceiverList</servlet-name>
        <servlet-class>controller.GetSorttedReceiverList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>controller.ajaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErorrPageServlet</servlet-name>
        <servlet-class>controller.ErorrPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> AdminJobDetail</servlet-name>
        <url-pattern>/adminJobDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> AdminAcceptJob</servlet-name>
        <url-pattern>/adminAcceptJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> AdminRejectJob</servlet-name>
        <url-pattern>/adminRejectJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> RequestListJob</servlet-name>
        <url-pattern>/requestList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterJobseekerServlet</servlet-name>
        <url-pattern>/registerjobseeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailRegisterServlet</servlet-name>
        <url-pattern>/verifyregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassJobseeker</servlet-name>
        <url-pattern>/forgetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailChangePass</servlet-name>
        <url-pattern>/verifychangepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginJobseeker</servlet-name>
        <url-pattern>/loginjobseeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileJobseeker</servlet-name>
        <url-pattern>/updateprofilejb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAndFilter</servlet-name>
        <servlet-class>controller.SearchAndFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassEmployer</servlet-name>
        <url-pattern>/changepassemployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingJob</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderJobList</servlet-name>
        <url-pattern>/renderjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetails</servlet-name>
        <url-pattern>/jobdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVJobSeekerServlet</servlet-name>
        <url-pattern>/CVSeeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployerDetailCVServlet</servlet-name>
        <url-pattern>/detailCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCVServlet</servlet-name>
        <url-pattern>/createCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVApply</servlet-name>
        <url-pattern>/cvapply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CvApplied</servlet-name>
        <url-pattern>/cvapplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateJob</servlet-name>
        <url-pattern>/createjob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminListAccount</servlet-name>
        <servlet-class>controller.AdminListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLockAccount</servlet-name>
        <servlet-class>controller.AdminLockAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUnlockAccount</servlet-name>
        <servlet-class>controller.AdminUnlockAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertcompanyservlet</servlet-name>
        <servlet-class>controller.insertcompanyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companycontrolservlet</servlet-name>
        <servlet-class>controller.companycontrolservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadcompanyservlet</servlet-name>
        <servlet-class>controller.loadcompanyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcompanyservlet</servlet-name>
        <servlet-class>controller.editcompanyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employerjobdetailservlet</servlet-name>
        <servlet-class>controller.employerjobdetailservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadjobservlet</servlet-name>
        <servlet-class>controller.loadjobservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatejobservlet</servlet-name>
        <servlet-class>controller.updatejobservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminListAccount</servlet-name>
        <url-pattern>/listaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLockAccount</servlet-name>
        <url-pattern>/lockaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUnlockAccount</servlet-name>
        <url-pattern>/unlockaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAndFilter</servlet-name>
        <url-pattern>/searchAndFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertcompanyservlet</servlet-name>
        <url-pattern>/insertcompanyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companycontrolservlet</servlet-name>
        <url-pattern>/companycontrolservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadcompanyservlet</servlet-name>
        <url-pattern>/loadcompanyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcompanyservlet</servlet-name>
        <url-pattern>/editcompanyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employerjobdetailservlet</servlet-name>
        <url-pattern>/employerjobdetailservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadjobservlet</servlet-name>
        <url-pattern>/loadjobservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatejobservlet</servlet-name>
        <url-pattern>/updatejobservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewListJobCreated</servlet-name>
        <servlet-class>controller.ViewListJobCreated</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewListJobCreated</servlet-name>
        <url-pattern>/listjobcreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailForEmployer</servlet-name>
        <url-pattern>/jobdetailemployeer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JobDetailForEmployer</servlet-name>
        <servlet-class>controller.JobDetailForEmployer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeStatusJobCreate</servlet-name>
        <url-pattern>/statuschange</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeStatusJobCreate</servlet-name>
        <servlet-class>controller.ChangeStatusJobCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCVApply</servlet-name>
        <servlet-class>controller.ListCVApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptCvApply</servlet-name>
        <servlet-class>controller.AcceptCvApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectCvApply</servlet-name>
        <servlet-class>controller.RejectCvApply</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCVApply</servlet-name>
        <url-pattern>/listApplyCv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptCvApply</servlet-name>
        <url-pattern>/acceptApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectCvApply</servlet-name>
        <url-pattern>/rejectApply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteJobEmployer</servlet-name>
        <url-pattern>/deletejob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteJobEmployer</servlet-name>
        <servlet-class>controller.DeleteJobEmployer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>employerhomeservlet</servlet-name>
        <url-pattern>/employerhomeservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name> AdminListJobAccept</servlet-name>
        <servlet-class>controller.AdminListJobAccept</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> AdminListJobAccept</servlet-name>
        <url-pattern>/listJobAccept</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name> AdminListJobReject</servlet-name>
        <servlet-class>controller.AdminListJobReject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> AdminListJobReject</servlet-name>
        <url-pattern>/listJobReject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name> AdminDashBoard</servlet-name>
        <servlet-class>controller.AdminDashBoard</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> AdminDashBoard</servlet-name>
        <url-pattern>/adminDashBoard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name> AdminListBlog</servlet-name>
        <servlet-class>controller.AdminListBlog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name> AdminListBlog</servlet-name>
        <url-pattern>/adminListBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchJobApplied</servlet-name>
        <url-pattern>/searchjobapplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawJob</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createskilltest</servlet-name>
        <servlet-class>controller.createskilltest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageskilltest</servlet-name>
        <servlet-class>controller.manageskilltest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createskilltest</servlet-name>
        <url-pattern>/createskilltest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageskilltest</servlet-name>
        <url-pattern>/manageskilltest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateMessage</servlet-name>
        <servlet-class>controller.CreateMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageDetail</servlet-name>
        <servlet-class>controller.MessageDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageListAccount</servlet-name>
        <servlet-class>controller.MessageListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessageAddWith</servlet-name>
        <servlet-class>controller.MessageAddWith</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateMessage</servlet-name>
        <url-pattern>/createMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageDetail</servlet-name>
        <url-pattern>/messageDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageListAccount</servlet-name>
        <url-pattern>/messageListAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessageAddWith</servlet-name>
        <url-pattern>/messageWith</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeachNameListMessage</servlet-name>
        <url-pattern>/searchnamelistmessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SeachNameListMessage</servlet-name>
        <servlet-class>controller.SeachNameListMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSorttedReceiverList</servlet-name>
        <url-pattern>/getSortedReceiverList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/vnpayajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErorrPageServlet</servlet-name>
        <url-pattern>/erorr</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
    <welcome-file>home</welcome-file>
</welcome-file-list>

    <servlet>
        <servlet-name> NotificationReadAll</servlet-name>
        <servlet-class>controller.NotificationReadAll</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name> NotificationReadAll</servlet-name>
        <url-pattern>/readAll</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name> NotificationList</servlet-name>
        <servlet-class>controller.NotificationList</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name> NotificationList</servlet-name>
        <url-pattern>/notifications</url-pattern>
    </servlet-mapping>

 
      <servlet>
        <servlet-name> AdminAddPackage</servlet-name>
        <servlet-class>controller.AdminAddPackage</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name> AdminAddPackage</servlet-name>
        <url-pattern>/addPackage</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name> AdminUpdatePackage</servlet-name>
        <servlet-class>controller.AdminUpdatePackage</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name> AdminUpdatePackage</servlet-name>
        <url-pattern>/updatePackage</url-pattern>
    </servlet-mapping>
    
      <servlet>
        <servlet-name> AdminDeletePackage</servlet-name>
        <servlet-class>controller.AdminDeletePackage</servlet-class>
    </servlet>  
    <servlet-mapping>
        <servlet-name> AdminDeletePackage</servlet-name>
        <url-pattern>/deletePackage</url-pattern>
    </servlet-mapping>
</web-app>
