<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterJobseekerServlet</servlet-name>
        <servlet-class>controller.RegisterJobseekerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailRegisterServlet</servlet-name>
        <servlet-class>controller.VerifyEmailRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassJobseeker</servlet-name>
        <servlet-class>controller.ForgetPassJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailChangePass</servlet-name>
        <servlet-class>controller.VerifyEmailChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginJobseeker</servlet-name>
        <servlet-class>controller.LoginJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileJobseeker</servlet-name>
        <servlet-class>controller.UpdateProfileJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassEmployer</servlet-name>
        <servlet-class>controller.ChangePassEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>controller.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingJob</servlet-name>
        <servlet-class>controller.PagingJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenderJobList</servlet-name>
        <servlet-class>controller.RenderJobList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobDetails</servlet-name>
        <servlet-class>controller.JobDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>controller.FileUploadServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>CVJobSeekerServlet</servlet-name>
        <servlet-class>controller.CVJobSeekerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployerDetailCVServlet</servlet-name>
        <servlet-class>controller.EmployerDetailCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCVServlet</servlet-name>
        <servlet-class>controller.CreateCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CVApply</servlet-name>
        <servlet-class>controller.CVApply</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CvApplied</servlet-name>
        <servlet-class>controller.CvApplied</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateJob</servlet-name>
        <servlet-class>controller.CreateJob</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterJobseekerServlet</servlet-name>
        <url-pattern>/registerjobseeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailRegisterServlet</servlet-name>
        <url-pattern>/verifyregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassJobseeker</servlet-name>
        <url-pattern>/forgetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailChangePass</servlet-name>
        <url-pattern>/verifychangepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginJobseeker</servlet-name>
        <url-pattern>/loginjobseeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileJobseeker</servlet-name>
        <url-pattern>/updateprofilejb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAndFilter</servlet-name>
        <servlet-class>controller.SearchAndFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassEmployer</servlet-name>
        <url-pattern>/changepassemployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingJob</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenderJobList</servlet-name>
        <url-pattern>/renderjob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetails</servlet-name>
        <url-pattern>/jobdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVJobSeekerServlet</servlet-name>
        <url-pattern>/CVSeeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployerDetailCVServlet</servlet-name>
        <url-pattern>/detailCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCVServlet</servlet-name>
        <url-pattern>/createCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVApply</servlet-name>
        <url-pattern>/cvapply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CvApplied</servlet-name>
        <url-pattern>/cvapplied</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateJob</servlet-name>
        <url-pattern>/createjob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminListAccount</servlet-name>
        <servlet-class>controller.AdminListAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLockAccount</servlet-name>
        <servlet-class>controller.AdminLockAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUnlockAccount</servlet-name>
        <servlet-class>controller.AdminUnlockAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertcompanyservlet</servlet-name>
        <servlet-class>controller.insertcompanyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>companycontrolservlet</servlet-name>
        <servlet-class>controller.companycontrolservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadcompanyservlet</servlet-name>
        <servlet-class>controller.loadcompanyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editcompanyservlet</servlet-name>
        <servlet-class>controller.editcompanyservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>employerjobdetailservlet</servlet-name>
        <servlet-class>controller.employerjobdetailservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadjobservlet</servlet-name>
        <servlet-class>controller.loadjobservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatejobservlet</servlet-name>
        <servlet-class>controller.updatejobservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminListAccount</servlet-name>
        <url-pattern>/listaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLockAccount</servlet-name>
        <url-pattern>/lockaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUnlockAccount</servlet-name>
        <url-pattern>/unlockaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAndFilter</servlet-name>
        <url-pattern>/searchAndFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertcompanyservlet</servlet-name>
        <url-pattern>/insertcompanyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>companycontrolservlet</servlet-name>
        <url-pattern>/companycontrolservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadcompanyservlet</servlet-name>
        <url-pattern>/loadcompanyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editcompanyservlet</servlet-name>
        <url-pattern>/editcompanyservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>employerjobdetailservlet</servlet-name>
        <url-pattern>/employerjobdetailservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadjobservlet</servlet-name>
        <url-pattern>/loadjobservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatejobservlet</servlet-name>
        <url-pattern>/updatejobservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewListJobCreated</servlet-name>
        <servlet-class>controller.ViewListJobCreated</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewListJobCreated</servlet-name>
        <url-pattern>/listjobcreated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobDetailForEmployer</servlet-name>
        <url-pattern>/jobdetailemployeer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JobDetailForEmployer</servlet-name>
        <servlet-class>controller.JobDetailForEmployer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeStatusJobCreate</servlet-name>
        <url-pattern>/statuschange</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangeStatusJobCreate</servlet-name>
        <servlet-class>controller.ChangeStatusJobCreate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteJobEmployer</servlet-name>
        <url-pattern>/deletejob</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteJobEmployer</servlet-name>
        <servlet-class>controller.DeleteJobEmployer</servlet-class>
    </servlet>
   
    
</web-app>
